---
layout: blog
title: index
permalink: /
---

<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top" id="i18_title"><span data-i18n="website.title">{{ site.title }}</span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left social-icons-nav">
                    <li><a href="https://github.com/{{ site.author.github_username }}" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
                    <li><a href="https://instagram.com/{{ site.author.instagram_username }}" target="_blank"><i class="fa fa-instagram fa-lg"></i></a></li>
                    <li><a href="{{ site.author.linkedin_username }}" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id="i18_navbar">
                {% for section in site.sections %}
                    <li>
                      <a class="page-scroll" href="#{{ section.id }}">
                        <span data-i18n="{{ section.i18n }}">{{ section.name }}</span>
                      </a>
                    </li>
                {% endfor %}

                {% for language in site.languages %}
                  <li>
                    <a id="set_lang_{{ language.locale }}" class="btn btn-sm set_{{ language.locale }}" data-locale="{{ language.locale }}">
                      <img src="{{ language.flag | prepend: site.baseurl }}" height="16px" width="16px">
                    </a>
                  </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="header-section">
    <div class="hero-landing">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="hero-content-center">
                        <h1 class="hero-name wow fadeInDown">{{ site.author.first_name }} {{ site.author.last_name }}</h1>
                        <h2 class="hero-tagline wow fadeInUp" data-wow-delay="0.2s">Skate | Software | Systems</h2>
                        <div class="hero-cta wow fadeInUp" data-wow-delay="0.4s">
                            <a href="#about-me" class="btn btn-lg btn-primary page-scroll">ABOUT ME</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% for section in site.sections %}
  {% assign loopindex = forloop.index | modulo: 2 %}
  <section id="{{ section.id }}" class="features {% if loopindex != 1 %} gray-section {% endif %} {{ section.css }}" style="margin-top: 0px;">
    {% include sections/{{section.tpl}} %}
  </section>
{% endfor %}
