<div class="container about-section" id="i18_about_me">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="about-title"><span data-i18n="about_me.about_me">ABOUT</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <p class="about-intro"><span data-i18n="about_me.intro">{{ site.author.intro }}</span></p>
        </div>
    </div>
    <div class="row about-content">
        <div class="col-lg-4 col-md-4 wow fadeInLeft">
            <div class="about-image-container">
                <img src="{{ site.author.head_img | prepend: site.baseurl }}" class="img-responsive about-image" alt="{{ site.author.first_name }} {{ site.author.last_name }}">
            </div>
        </div>
        <div class="col-lg-8 col-md-8 wow fadeInRight">
            <div class="about-text">
                <h3 class="about-subtitle"><span data-i18n="about_me.subtitle">{{ site.author.position }}</span></h3>
                <p class="about-description"><span data-i18n="about_me.des">{{ site.author.desc }}</span></p>
                
                <p class="about-details"><strong>Sports:</strong> <span data-i18n="about_me.sports">{{ site.author.sports }}</span></p>
                <p class="about-details"><strong>Hobbies:</strong> <span data-i18n="about_me.hobbies">{{ site.author.hobbies }}</span></p>
                
                <p class="about-experience"><span data-i18n="about_me.experience">{{ site.author.experience }}</span></p>
            </div>
        </div>
    </div>
</div>
