<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2><span data-i18n="about_me.about_me">ABOUT</span></h2>
            <p><span data-i18n="about_me.intro">{{ site.author.intro }}</span></p>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <img src="{{ site.author.head_img | prepend: site.baseurl }}" class="img-fluid headshot" alt="{{ site.author.first_name }} {{ site.author.last_name }}">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content">
                <h3><span data-i18n="about_me.subtitle">{{ site.author.position }}</span></h3>
                <p class="fst-italic"><span data-i18n="about_me.des">{{ site.author.desc }}</span></p>
                <div class="row">
                    <div class="col-lg-9">
                        <ul>
                            <li><i class="bi bi-rounded-right"></i> <strong>Sports:</strong> <span data-i18n="about_me.sports">{{ site.author.sports }}</span></li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Hobbies:</strong> <span data-i18n="about_me.hobbies">{{ site.author.hobbies }}</span></li>
                        </ul>
                    </div>
                </div>
                <p><span data-i18n="about_me.experience">{{ site.author.experience }}</span></p>
            </div>
        </div>

    </div>
</section>
