<div class="container">
  <div class="row m-b-lg">
    <div class="col-lg-12 text-center" id="i18_publications">
      <div class="navy-line"></div>
      <h1><span data-i18n="publications.my_publications">My Publications</span></h1>
    </div>
  </div>

  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h1>2020</h1>
      <ul style="list-style-type: none">
        <li class="entry">
          <h2><strong>Design and Development of Impinging Jet Facility for Flow Visualization Studies</strong></h2>
          <em>AH Rather</em> and Kannan B.T.<br />
          International Conference on Advances in Mechanical Engineering (ICAME), 2020
          <a href="https://iopscience.iop.org/article/10.1088/1757-899X/912/4/042003">[link]</a>
        </li>

        <li class="entry">
          <h2><strong>Feasibility Study of Ion Generator for Flow Control</strong></h2>
          Nikhil Gaur, <em>AH Rather</em>, and Kannan B.T.<br />
          Forum on Advances in Mechanical Engineering (FAME), 2020
          <a href="https://pubs.aip.org/aip/acp/article-abstract/2311/1/030021/1027659/Feasibility-study-of-ion-generator-for-flow">[link]</a>
        </li>

        <li class="entry">
          <h2><strong>Visualization of Flow Control using Ion Wind on Impinging Jet</strong></h2>
          Nikhil Gaur, <em>AH Rather</em>, Deepali, and Kannan B.T.<br />
          AIP Conference Proceedings, 2020
          <a href="https://pubs.aip.org/aip/acp/article-abstract/2311/1/030036/1027694/Visualization-of-flow-control-using-ion-wind-on">[link]</a>
        </li>
      </ul>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
      <p><strong>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</strong></p>
    </div>
  </div>
</div>
