<section id="skills" class="skills">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2><span data-i18n="skills.skills">SKILLS</span></h2>
            <p><span data-i18n="skills.description">A list of technical and social expertise that I have picked up over the years.</span></p>
        </div>

        <div class="row skills-content">

            <div class="col-lg-6">
                {% assign half = site.data.skills.size | divided_by: 2 %}
                {% for skill in site.data.skills limit:half %}
                <div class="progress">
                    <span class="skill">{{ skill.name }} <i class="val">{{ skill.percentage }}%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ skill.percentage }}%;"></div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="col-lg-6">
                {% for skill in site.data.skills offset:half %}
                <div class="progress">
                    <span class="skill">{{ skill.name }} <i class="val">{{ skill.percentage }}%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ skill.percentage }}%;"></div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>

    </div>
</section>
