/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .section-title {
  text-align: center;
  padding-bottom: 30px;
}

.skills .section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #046b99;
}

.skills .section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #f9aa43;
  bottom: 0;
  left: calc(50% - 25px);
}

.skills .section-title p {
  margin-bottom: 0;
  color: #000000;
  font-size: 18px;
}

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #061f4a;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #e0e0e0;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.skills .progress-bar {
  width: 0;
  height: 10px;
  transition: width 1.5s ease-in-out;
  background-color: #00a6d2;
  border-radius: 5px;
}

.skills .progress-bar.animated {
  width: var(--target-width);
}
